@font-face {
    font-family: 'Rubik';
    src: url('Rubik-BlackItalic.eot');
    src: local('Rubik Black Italic'), local('Rubik-BlackItalic'),
        url('./fonts/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-BlackItalic.woff2') format('woff2'),
        url('./fonts/Rubik-BlackItalic.woff') format('woff'),
        url('./fonts/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Bold.eot');
    src: local('Rubik Bold'), local('Rubik-Bold'),
        url('./fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Bold.woff2') format('woff2'),
        url('./fonts/Rubik-Bold.woff') format('woff'),
        url('./fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-BoldItalic.eot');
    src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
        url('./fonts/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-BoldItalic.woff2') format('woff2'),
        url('./fonts/Rubik-BoldItalic.woff') format('woff'),
        url('./fonts/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Medium.eot');
    src: local('Rubik Medium'), local('Rubik-Medium'),
        url('./fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Medium.woff2') format('woff2'),
        url('./fonts/Rubik-Medium.woff') format('woff'),
        url('./fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Italic.eot');
    src: local('Rubik Italic'), local('Rubik-Italic'),
        url('./fonts/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Italic.woff2') format('woff2'),
        url('./fonts/Rubik-Italic.woff') format('woff'),
        url('./fonts/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-MediumItalic.eot');
    src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
        url('./fonts/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-MediumItalic.woff2') format('woff2'),
        url('./fonts/Rubik-MediumItalic.woff') format('woff'),
        url('./fonts/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Regular.eot');
    src: local('Rubik Regular'), local('Rubik-Regular'),
        url('./fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Regular.woff2') format('woff2'),
        url('./fonts/Rubik-Regular.woff') format('woff'),
        url('./fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Black.eot');
    src: local('Rubik Black'), local('Rubik-Black'),
        url('./fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Black.woff2') format('woff2'),
        url('./fonts/Rubik-Black.woff') format('woff'),
        url('./fonts/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Light.eot');
    src: local('Rubik Light'), local('Rubik-Light'),
        url('./fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Light.woff2') format('woff2'),
        url('./fonts/Rubik-Light.woff') format('woff'),
        url('./fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-LightItalic.eot');
    src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
        url('./fonts/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('./fonts/Rubik-LightItalic.woff') format('woff'),
        url('./fonts/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.wrapperForCanvas{
    position: absolute;
    height: 1280px;
    z-index: -1;
    width: 100%;
} 
#particles-js{
    height: 100%;
}
header{
   margin-top: 15px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
._row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.first{
    justify-content: space-between;
}
.second{
    justify-content: flex-start;
    margin-top: 20px;
}
.second ul{
    display: flex;
    justify-content: flex-start;
}
.second ul li{
    margin-right: 25px;
    list-style-type: none;
}
.second ul li a{
    font-weight: 500;
    font-size: 15px;
    line-height: 131.4%;
    color: #003866;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #003866;
    padding-bottom: 3px;
}
.tel{
    position: relative;
    padding-left: 25px;
}
.tel._head{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #003866;
}
.tel::after{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    background:url(/images/tel.png) center no-repeat;
    height: 15px;
    width: 15px;
}
.contactBlock{
    display: flex;
    align-items: center;
}
.contactBlock a{
    margin-right: 25px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #003866;
}
h1{
    padding: 27px 0 14px 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #003866;
    text-transform: uppercase;
}
.firstScreen{
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 45px;
    padding-top: 70px;
}
.firstScreen p{
    font-weight: 500;
    font-size: 20px;
    line-height: 131.4%;
    color: #003866;
}
.firstScreen ul{
    padding: 30px 0 70px 30px;
}
.firstScreen ul li{
    list-style-type: '*';
}
h2{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #114773;
    margin: 60px 0 30px;
}
.btn{
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid #003866;
    margin-left: 25px;
}
.btn:hover{
    background-color: #003866;
    color: white;
}
.coast{
    background: #003866;
    border-radius: 5px;
    border: 2px solid #003866;
    padding: 16px 40px;
    text-decoration: none;
    color: white;
    margin-top: 45px;
    display: inline-block;
}
.coast:hover{
    background: transparent;
    color: #003866;
}
.flexIntroList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flexItem{
    display: flex;
    margin-right: 25px;
}
.flexItem p{
    margin-left: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 132.5%;
    color: #003866;
}
.flexIntroList .flexItem:last-child{
    margin-right: 0;
}
h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #114773;
    margin: 15px 0;
}
._left{
    text-align: right;
}
._rigth{
    text-align: left;
}
.advantages{
    display: flex;
}
.adv_item{
    margin: 24px 0;
}
._center img{
    background-size: contain;
    height: 100%;
    padding: 0 15px;
}
/*catalog*/
.catalog{
    display: flex;
    flex-wrap: wrap;
}
.catalog_item{
    width: calc(50% - 3px);
    padding: 30px 0;
    border-bottom: 1px solid #E6E6E6;
}
.firstRow,.secondRow,.thirdRow,.fourRow{
    display: flex;
    flex-wrap: wrap;
}
.firstRow{
    justify-content: space-between;
}
.descItem{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.descItem h3{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #114773;
    padding-right: 15px;
    margin: 7px 0;
}
.descItem p{
    font-size: 14px;
    line-height: 161%;
    color: #202020;
    padding-right: 15px;
}
.secondRow{
    margin: 30px 0;
    justify-content: space-between;
    align-items: baseline;
}
.blueBold{
    color: #114773;
    font-weight: bold;
}
.cost{
    min-width: 50%;
}
.cost .blueBold{
    font-size: 20px;
}
.article{
    font-weight: 300;
    font-size: 12px;
    line-height: 169%;
    color: #444444;
    flex: 0 0 15%;
}
.descArticle{
    font-size: 12px;
    line-height: 169%;
    color: #444444;
    flex: 0 0 85%;
}
.descArticle p{
    padding-right: 30px;
}
.fourRow{
    flex-direction: column;
    align-items: center;
}
.more{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #444444;
    color: #444444;
    padding-top: 35px;
}
.catalog .coast{
    background-color: #126DAE;
    border: 2px solid #126DAE;
}
.catalog .coast:hover{
    background-color: transparent;
    color: #126DAE;
}
.fourRow img{
    width: calc(100% - 30px);
    align-self: flex-start;
}
.more:hover{
    opacity: 0.7;
}
._border{
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    position: relative;
}
._border::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    left: calc(50% - 3px);
    background-color: #E6E6E6;
    z-index: -1;
}
._border::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    left: calc(25% - 3px);
    background-color: #E6E6E6;
    z-index: -1;
}
.lastBor{
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    right: calc(25% - 3px);
    background-color: #E6E6E6;
    z-index: -1;
}
.container._border h2{
    margin: 0;
    padding: 50px 0;
}